@media only screen and (max-width: 768px) {
  .left_img_container {
    height: 28rem;
    width: 28rem;
  }

  .left_img_container > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  body {
    padding: 0;
  }

  .main_container {
    top: 0;
    margin: 0;
    padding: 0;
    flex-direction: column;
  }

  .company-logo {
    height: 5rem;
  }

  .text-heading {
    font-size: 2rem !important;
  }

  .text-loginHeading {
    font-size: 1.6rem !important;
  }

  .text-1-rem {
    font-size: 1.4rem !important;
  }

  .form-container > form > input {
    width: 100% !important;
  }
}
@media only screen and (max-width: 480px) {
  .left_img_container {
    height: 20rem;
    width: 20rem;
  }
  .company-logo {
    height: 3rem;
  }

  .text-heading {
    font-size: 1.4rem !important;
  }

  .text-loginHeading {
    font-size: 1.2rem !important;
  }

  .text-1-rem {
    font-size: 1rem !important;
  }
}
